<% content_for :page_title do %>
  <span><%= t :find_advisory %></span>
<% end %>

<%= render "header" %>

<div id="search-container">
  <i class="material-icons">search</i>
  <input 
    id="autocomplete-input" 
    class="autocomplete" 
    type="text"
    placeholder="<%= t :explore %>"
  >
</div>
