@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import "~@materializecss/materialize/sass/components/_color-variables.scss";

$primary-color: color("deep-purple", "base") !default;
$secondary-color: color("green", "base") !default;
$card-padding: 1rem;

@import "~@materializecss/materialize/sass/components/_variables.scss";

$card-link-color: $link-color;

@import "~@materializecss/materialize";

// #region App Styles
* {
  box-sizing: border-box !important;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: grid;
  align-content: start;
  grid-template-rows: auto 1fr;
}

label + em {
  font-size: 0.8rem;
}

.nav-wrapper {
  display: flex;
  padding-left: 16px;
  justify-content: space-between;

  #logo {
    font-size: 2.1rem;
  }

  #page-title {
    font-size: 18px;
    text-transform: uppercase;
  }

  #menu-icon-container {
    height: 100%;
  }
}
// #endregion

// #region Home Styles
#home-container {
  padding: 20px;

  gap: 1rem;
  display: grid;
  overflow: hidden;
  grid-template-rows: auto auto 1fr;

  #search-container {
    margin: 0;
    position: relative;

    i {
      position: absolute;
      top: 50%;
      left: 0.5rem;
      transform: translateY(-50%);
    }

    input {
      margin: 0;
      border: $input-border;
      padding-left: 2.5rem;
      border-radius: 12px;

      &:focus {
        border-color: $input-focus-color;
      }
    }
  }

  #user-container {
    gap: 1rem;
    display: grid;
    align-items: start;
    grid-template-columns: repeat(2, 1fr);

    padding: 1px;
    overflow-y: auto;

    .card {
      --card-border-radius: 1rem;

      margin: 0;
      border-radius: var(--card-border-radius);

      .card-image {
        padding-bottom: 100%;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: var(--card-border-radius) var(--card-border-radius) 0 0;
        }

        .card-title {
          overflow: hidden;
          font-size: 1.2rem;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
// #endregion

// #region Devise styles (login, signup, forgot password...)
#devise-links {
  display: grid;
  gap: 0.5rem;
}

#login-container,
#signup-container,
#change-password-container,
#forgot-password-container {
  width: 100%;
  height: 100vh;
  padding: 1rem;
  background-color: $primary-color;

  gap: 1rem;
  display: grid;
  overflow-y: auto;
  align-items: center;
  align-content: center;
  justify-content: center;
  grid-template-rows: auto minmax(0, auto);

  .advi-logo {
    margin: 0;
    text-align: center;

    a {
      color: $collection-active-color;
    }
  }

  .card {
    margin: 0;
    max-height: 100%;
    overflow-y: auto;

    .card-content {
      .card-title {
        text-align: center;
      }

      button[type="submit"] {
        width: 100%;
        display: flex;
        justify-content: center;

        i {
          margin-left: 1rem;
        }
      }
    }
  }
}
// #endregion

// #region Profile styles
#profile-container {
  gap: 1rem;
  display: grid;
  padding: 1rem;
  align-content: flex-start;

  .card-panel,
  .card {
    margin: 0;
  }

  .card {
    .card-image {
      --image-size: 240px;

      img {
        height: var(--image-size);
        object-fit: contain;
      }
    }
  }
}
// #endregion
