pre {
  padding: 10px;
  font-size: 11px;
  background-color: #eee;
}

div.field,
div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

#error_explanation {
  border: 2px solid red;
  margin-bottom: 10px;
  background-color: #f0f0f0;

  h2 {
    margin: 0;
    padding: 0.85rem;

    font-size: 0.85rem;
    text-align: left;
    font-weight: bold;

    color: #fff;
    background-color: #c00;
  }

  ul {
    margin: 0;
    padding: 0.85rem;

    li {
      font-size: 0.85rem;
    }
  }
}
