<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper center">
      <%= link_to_with_locale "ADVI", root_path, id: "logo" %>

      <div id='page-title'>
        <%= yield :page_title %>
      </div>

      <a
        id="menu-icon-container"
        href="#"
        class="sidenav-trigger btn-flat white-text"
        data-target="app-side-nav"
      >
        <i class="material-icons">menu</i>
      </a>

    </div>
  </nav>
</div>

<!-- App side nav for menu click -->
<ul id="app-side-nav" class="sidenav no-autoinit" edge="right">
  <li>
    <%= link_to_with_locale t("devise.sessions.new.sign_in"), user_session_path, class: "btn waves-effect waves-light" %>
  </li>
  <li>
    <%= link_to_with_locale t("sign_out"), destroy_user_session_path, method: :delete, class: "btn waves-effect waves-light"  %>
  </li>
</ul>
